@import url("https://use.typekit.net/gwn1sew.css");

/** GLOBAL VARIABLES */
:root {
    --purple-main: #747fe0;
    --purple-secondary: #c6c0f1;
    --blue-main: #5f97dd;
    --blue-secondary: #ddecff;
    --blue-accent: #007bff;
    --green-accent: #92eac0;
    --gray-text: #695f7f;
    --gray-background: #f6f9fc;
}

body {
    font-family: proxima-nova, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    color: var(--gray-text);
}

footer {
    margin-top: 4rem;
}

h2 {
    color: var(--purple-main);
    font-size: 2.5rem;
    font-weight: 700;
}

.button-1 {
    color: var(--gray-text);
    text-align: center;
    border: 0.1rem solid var(--gray-text);
    border-radius: 0.2rem;
    padding: 0.4rem 1.5rem;
    margin: 1rem 1rem;
    background-color: none;
    transition: all 0.4s ease;
    min-width: 20%;
    outline: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button-1:focus {
    box-shadow: inherit;
}

.button-1:hover {
    text-decoration: none;
    color: var(--gray-background);
    background-color: var(--gray-text);
    border-color: var(--gray-text);
}

.active {
    text-decoration: none;
    color: var(--gray-background);
    background-color: var(--purple-main);
    border-color: var(--purple-main);
}

.button-2 {
    background-color: var(--purple-main);
    color: var(--gray-background);
    font-weight: 600;
    line-height: 2.25rem;
    text-align: center;
    border-radius: 0.2rem;
    padding: 0 0.9rem;
    transition: all 0.3s ease;
    box-shadow: 0 0.2rem 0.3rem rgba(50, 50, 93, 0.11),
        0 0.05rem 0.15rem rgba(0, 0, 0, 0.08);
}

.button-2:hover {
    text-decoration: none;
    color: var(--gray-background);
    box-shadow: 0.05rem 0.5rem 1rem rgba(0, 0, 0, 0.15),
        0.05rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

.link-animation {
    color: var(--blue-accent);
    background-image: linear-gradient(
        120deg,
        var(--blue-secondary) 0%,
        var(--blue-secondary) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0em;
    background-position: 0 95%;
    transition: background-size 0.2s ease-in;
}

.link-animation:hover {
    background-size: 100% 88%;
    color: var(--blue-accent);
    text-decoration: none;
}

.interest-header {
    margin: 2rem 2rem;
}

.interest-intro {
    padding: 0 2rem;
    line-height: 2rem;
    margin-bottom: 4rem;
}

.interest-layout-container {
    padding: 0;
}
/** Media Queries */

@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    body {
        margin: 2rem;
    }
}
